<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"/>

<div th:insert="fragments/header.html"> </div>
<div th:insert="fragments/nav.html"> </div>

<!-- Main Content -->
<div class="container main-content">
    <div class="col-lg-8 col-md-10 mx-auto">    
        <h6>Modifications des posts</h6>       
        <form th:action="@{/admin/updatePost}" method="post" >
            <div class="form-group post-preview">
                <label for="titre">Titre</label>
                <input class="post-title form-control" id="titre" name="titre" th:value="${post.titre}" required></input>
            </div>
            <div class="post-preview form-group">
                <label for="contenu">Contenu</label>
                <textarea class="post-content form-control" rows="10" id="contenu" name="contenu" th:text="${post.contenu}" required></textarea>                
            </div>
            <input type="hidden" name="postId" th:value="${post.id}"/>
            <input class="btn btn-light" type="submit" value="Valider">
        </form>

    </div>
</div>

<div th:insert="fragments/footer.html"></div>



