<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" />
<div th:insert="fragments/header.html"></div>
<div th:insert="fragments/nav.html"></div>

<!-- Main Content posts -->
<div class="container main-content">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h4>Dashbord</h4>
            
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div>
                <h6>Gestion des posts</h6>   
                <a th:href="${'/admin/add'}" class="btn btn-dark" style="margin-bottom: 20px"> + Ajouter un Nouveau Post</a>
                <table class="table table-hover table-striped" >                  
                    <tr>
                        <th>ID</th>
                        <th>Titre</th>
                        <th>Modification</th>
                    </tr>
                    <th:block th:each="post : ${posts}">
                        <tr>
                            <td th:text="${post.id}"></td>
                            <td th:text="${post.titre}"></td>
                            <td>
                                <a class="btn btn-light" th:href="${'/admin/edit/' + post.id}">Edition</a>
                            </td>
                        </tr>
                    </th:block>
                </table>
            </div>
        </div>
    </div>
</div>

<div th:insert="fragments/footer.html"></div>