<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"/>

<div th:insert="fragments/header.html"> </div>
<div th:insert="fragments/nav.html"> </div>

<!-- Main Content -->
<div class="container main-content">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
                <h2 class="post-title" th:text="${post.titre}"></h2>
                <small class="post-meta">Ajoutez par 
                    <span th:text="${post.idUser.prenom} +' '+ ${post.idUser.nom}"></span>
                    le <span th:text="${#dates.format(post.creation, 'dd-MMM-yyyy à HH:mm:ss')}"></span>              
                </small>
                <p class="post-content" th:text="${post.contenu}"></p>                
            </div>
            <hr>
                <div class="post-comments">
                    <!--Comments-->  
                    <div class="post-list-comments">
                        <h5>Commentaires (Se connecter pour ajouter des commentaires) : </h5>                                                   
                        <th:block th:each="comment : ${comments}" class="post-preview">     
                            <div> 
                                <img width="50px" src="https://st3.depositphotos.com/4111759/13425/v/1600/depositphotos_134255532-stock-illustration-profile-placeholder-male-default-profile.jpg" alt="">
                                    <p class="commentaire-contenu" th:text="${comment.commentaire}"></p>
                                    <small class="post-meta">Auteur du commentaire  
                                        <span th:text="${comment.idUser.prenom} +' '+ ${comment.idUser.nom}"></span>
                                        le <span th:text="${#dates.format(comment.dateCommentaire, 'dd-MMM-yyyy à HH:mm:ss')}"></span>              
                                    </small>
                            </div>
                        </th:block>                        
                    </div>

                    <!--Add a comment-->
                    <div th:if="${session.user}">
                        <form th:action="@{/addComment}" method="post" class="form-add-comment">
                            <label for="form">Ajoutez un commentaire... </label>
                            <textarea type="text" name="commentaire" required id="form" class="md-textarea form-control" rows="3"></textarea>

                            <input type="hidden" name="postId" th:value="${post.id}"/>
                            <input class="btn btn-light" type="submit" value="Envoyer"/>
                        </form>
                    </div>
                </div>
        </div>
    </div>
</div>

<div th:insert="fragments/footer.html"></div>