<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"/>
<div th:insert="fragments/header.html"> </div>
<div th:insert="fragments/nav.html"> </div>
<div class="container main-content">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div th:if="${error}">
                <div class="alert alert-danger" th:text="${error}"></div>
            </div>

            <fieldset>
                <legend>Page de connexion</legend>
                <form th:action="@{/user/connexion}" method="post">                    
                    <div class="form-group">
                        <label for="login">Login</label>
                        <input class="form-control" type="text" name="login">
                    </div>
                    <div class="form-group">
                        <label for="password">Mot de passe</label>
                        <input class="form-control" type="password" name="password">
                    </div>
                    <input class="btn btn-light" type="submit" value="Envoyer"/>
                    <a class="btn btn-link" style="float:right" th:href="${'/user/inscription'}">Inscription</a>
                </form>

            </fieldset>
        </div>
    </div>

</div>


<div th:insert="fragments/footer.html"> </div>

