<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"/>
<div th:insert="fragments/header.html"> </div>
<div th:insert="fragments/nav.html"> </div>
<div class="container main-content">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">       
            <div th:if="${error}">
                 <div class="alert alert-danger" th:text="${error}"></div>
            </div>
            <fieldset>
                <legend>Formulaire d'inscription</legend>
                <form th:action="@{/user/inscription}" method="post">
                    <div class="form-group">
                        <label for="nom">Nom</label>
                        <input class="form-control" type="text" name="nom" id="nom">                    
                    </div>
                    <div class="form-group">
                        <label for="prenom">Prénom</label>
                        <input class="form-control" type="text" name="prenom" id="prenom">
                    </div>
                    <div class="form-group">
                        <label for="login">Login</label>
                        <input class="form-control" type="text" name="login" id="login">
                    </div>
                    <div class="form-group">
                        <label for="password">Mot de passe</label>
                        <input class="form-control" type="password" name="password" id="password">
                    </div>
                    <div class="form-group">
                        <label for="role">Rôle (Admin ou User)</label>                        
                        <input class="form-control" placeholder="Saisie exceptionnelle..." type="text" name="role">
                    </div>

                    <input class="btn btn-light" type="submit" value="Envoyer"/>
                    <a class="btn btn-link" style="float:right" th:href="${'/user/connexion'}">Connexion</a>
                </form>
            </fieldset>
        </div>
    </div>

</div>


<div th:insert="fragments/footer.html"> </div>

