<!DOCTYPE html>

<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>RagotBlog</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link th:href="@{/css/fontawsome.css}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link th:href="@{/css/blog.min.css}" rel="stylesheet">
        <style>
            .main-content{padding-top: 80px}
            #posts{font-variant: small-caps; font-size: 1.8em; font-style: italic; font-weight: bold}
            small{font-style: italic; color: #868e96}
            textarea{margin-bottom: 15px}
            .post-list-comments img{float: left}
            .form-add-comment{margin-top: 50px}
            .post-preview {margin-bottom: 20px}
            @media(max-width:992px){               
                #user-session{display: none;}
            }
        </style>
  </head>

    <body>
   
