<!-- Navigation -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"/>
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" style="background: #ccc;">
    <div class="container">
        <a class="navbar-brand" th:href="${'/'}">Blog Génial</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <span id="user-session" th:if="${session.user}">
            <span th:text="${'Bonjour ' + session.user.prenom}"></span>
        </span>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" th:if="${session.user} AND ${session.user.role}=='admin'">
                    <a class="nav-link" th:href="${'/admin/index'}">Admin Dashbord</a>
                </li>               
                <li class="nav-item">
                    <a class="nav-link" th:href="${'/'} + '#posts'">Posts</a>
                </li>               
                <li class="nav-item" th:unless="${session.user}">                    
                    <a class="nav-link" th:href="${'/user/connexion'}">Connexion</a>
                </li>                       
                <li class="nav-item" th:if="${session.user}">                    
                    <a class="nav-link" th:href="${'/user/deconnexion'}">Déconnexion</a>
                </li>                       
            </ul>
        </div>
    </div>
</nav>
